/*  your css code here. If applicable */
#body{
	background-color: rgb(204, 204, 204)
}

#eg1 {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

video, audio {
    width: 100%;
    display: block;
}

a{
	text-decoration:none;
	
}
